# jdbc.url=jdbc:mysql://172.31.44.254:3306/MyDbName
# jdbc.url=jdbc:mysql://_____________:3306/MyDbName
# MySQL DB properties
jdbc.driver=com.mysql.jdbc.Driver
jdbc.url=jdbc:mysql://{{ansible_default_ipv4.address}}:3306/MyDbName
jdbc.username=root
jdbc.password=admin